:root {
  --background-color-title: #FF0070;
  --text-color-h1: #DB00FF;
  --text-color-h2: #FF0070;
  --text-color-h3: #000028;
  --text-color-p: #F1B2CE;

  --background-color-title: #FF0070;
  --text-color-title-focus: #DB00FF;
  --text-color-title-block: #FF0070;
  --text-color-title-type-3: #000028;
  --text-color-paragraf: #F1B2CE;

  --width-mobile: 355px;
  --background-color: #000028;
}
@font-face {
    font-weight: 700;
    font-family: IBMPlexMono;
    src: url("../fonts/IBMPlexMono-Bold.ttf");
}
@font-face {
    font-weight: 400;
    font-family: IBMPlexMono;
    src: url("../fonts/IBMPlexMono-Regular.ttf");
}
html {
  margin: 0;
  padding: 0;
} 
  body {
    font-family: IBMPlexMono;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
  }
  button {
    cursor: pointer; 
    text-decoration: none;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .section_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--background-color);
  }
  .flex_container {
    width: 1024px;
    height: 100%;
    box-sizing: border-box;

  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 768px;
    background-image: url("../img/cover-image-dark.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header_container {
    padding: 20px;
    position: relative;
  }
  .why {
    height: 608px;
  }
  .why_container {
    max-width: 1024px;
    padding: 60px 20px 40px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }
  .cause {
    height: 578px;
  }
  .cause_container {
    max-width: 1024px;
    padding: 40px 20px 40px 20px;
  }
  .how {
    height: 1095px;
  }
  .how_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding: 40px 20px 40px 20px;
  }
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1191px;
    box-sizing: border-box;
    background-color: var(--background-color);
  }
  .gallery_container {
    padding: 40px 20px 60px 20px;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 768px;
    box-sizing: border-box;
    background-color: var(--background-color);
  }
  .footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
  }
  
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  h1 {
    font-weight: 700;
    font-size: 157px;
    line-height: 0.5em;
    text-shadow: 4px 4px #FF0070;
    color: var(--text-color-h1);
    margin: 0;
    padding: 0;
  }
  h2 {
    font-weight: 700;
    font-size: 18px;
    color: var(--text-color-h2);
    margin: 0;
    padding: 0;
  }
  h3 {
    font-weight: 700;
    font-size: 18px;
    color: var(--text-color-h3);
    background-color: var(--background-color-title);
    margin: 0;
  }
  p {
    margin: 0;
    padding: 0;
    color: var(--text-color-p);
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px; /* 130% */
  }
  .title-type-3 {
    padding-bottom: 10px;
  }
  .corner_main {
    width: 25px;
    height: 25px;
  }
  .corner {
    position: absolute;
    top: 20px;
    right: 20px;
    border-top: 1px solid var(--text-color-h2);
    border-right: 1px solid var(--text-color-h2);
  }
  .corner2 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    border-bottom: 1px solid var(--text-color-h2);
    border-left: 1px solid var(--text-color-h2);
  }
  .navigation_container {
    display: flex;
    height: 28px;
    justify-content: space-between;
  }
  .navigation-container-link {
    display: flex;
    gap: 10px;
  }
  .navigation-link {
    display: inline-flex;
    height: 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .navigation-link:focus {
    border-bottom: 1px solid #ff0070;
  }
  .navigation-link:hover {
    border: 1px solid #FF0070;
    opacity: 0.5;
  }
  .navigation-link > a > button {
    color: var(--text-color-h2);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 0 13px; 
  }
  .zero {
    width: 62px;
  }
  .bulb {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .bulb > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #FF0070;
  }
  .bulb-ellips{
    display: block;
    height: 9px;
    width: 9px;
    background-color: var(--background-color-title);
    filter: drop-shadow(0px 0px 4px #FF0070);
    border-radius: 50%;
    margin-right: 10px;
  }
  .title-focus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 273px;
    margin-bottom: 114px;
    width: 759px;
    height: 130px;
    position: relative;
    left: -20px;
  } 
  .title-text {
    width: 491px;
    margin-left: auto;
    justify-content: end;
    display: block;
    background-color: var(--text-color-h2);
  }
  .title-text > p {
    color: var(--text-color-h3);
  }
  .title-block {
    display: flex;
    width: 34%;
    flex: 1;
    align-self: stretch;
  }
  .block-row-container {
    width: 66%;
    flex: 1;
  }
  .block-row {
    margin-bottom: 20px;
  }
  .block-row:last-child {
    margin-bottom: 0px;
  }
  .block-row > .title-type-3 > h3 {
    color: var(--text-color-h3);
  }
  .cause_container {
    width: 100%;
    height: 100%;
  }
  .title-cause {
    display: inline-block;
    max-width: 32%;
    margin-bottom: 20px;
  }
  .block-column-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
  .block-column {
    width: 32%;
  }
  .how > .how_container > .block-row-container > .block-row > .title-type-3 > h3 {
    color: var(--text-color-p);
  }
  .adviÑe {
    padding: 0;
    margin-bottom: 20px;
  } 
  .gallery_container > .title-type-3 {
    padding-bottom: 20px;
  }
  .gallery-container-img {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    'img__item1 img__item1 img__item2'
    'img__item4 img__item3 img__item2'
    'img__item4 img__item5 img__item5'
    'img__item4 img__item5 img__item5';
    gap: 20px;
  }
  .img_item1 {
    width: 649px;
    height: 260px;
    grid-area: img__item1;
  }
  .img_item2 {
    width: 315px;
    height: 595px;
    grid-area: img__item2;
  }
  .img_item3 {
    width: 315px;
    height: 315px;
    grid-area: img__item3;
  }
  .img_item4 {
    width: 315px;
    height: 768px;
    grid-area: img__item4;
  }
  .img_item5 {
    width: 649px;
    height: 428px;
    grid-area: img__item5;
  }
  .title-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .title_container > .title-focus {
    width: 1024px;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
  
  }
@media (max-width: 1023px) {
  .flex_container {
    width: 768px;
  }
  header {
    height: 984px;
  }
  .why {
    height: 748px;
  }
  .why_container {
    gap: 20px;
    max-width: 768px;
  }
  .cause {
    height: 755px;
  }
  .cause_container {
    max-width: 768px;
    padding: 40px 20px 40px 20px;
  }
  .how {
    height: 1377px;
  }
  .how_container {
    gap: 20px;
    max-width: 768px;
  }
  .gallery {
    width: 100%;
    height: 922px;
  }
  .gallery_container {
    max-width: 768px;
  }
  footer {
    height: 984px;
  }
  .footer_container {
    max-width: 768px;
  }
  .cause_container {
    width: 100%;
    height: 100%;
  }
  .title-cause {
    display: inline-block;
    width: 236px;
    height: 70px;
    margin-bottom: 20px;
  }
  .block-column {
    width: 100%;
  }
  .navigation_container {
    flex-direction: column-reverse;
    align-items: end;
    height: 443px;
  }
  .navigation-container-link {
    flex-direction: column;
  }
  .navigation-link {
    display: inline-flex;
    height: 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .zero {
    width: 62px;
    height: 25px;
  }
  .bulb {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .bulb > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #FF0070;
  }
  .bulb-ellips{
    display: block;
    height: 9px;
    width: 9px;
    background-color: var(--background-color-title);
    filter: drop-shadow(0px 0px 4px #FF0070);
    border-radius: 50%;
    margin-right: 10px;
  }
  .title-focus {
    margin: 0;
    margin-bottom: 162px;
    height: 99px;
    width: 576.84px;
  }
  .title-focus > h1 {
    font-size: 120px;
  }
  .title-text {
    width: 364px;
  }
  .title-block {
    width: 236px;
  }
  .block-row-container {
    width: 472px;
  }
  .img_item1 {
    width: 479px;
    height: 192px;
  }
  .img_item2 {
    width: 229px;
    height: 441px;
  }
  .img_item3 {
    width: 230px;
    height: 230px;
  }
  .img_item4 {
    width: 229px;
    height: 568px;
  }
  .img_item5 {
    width: 479px;
    height: 318px;
  }
}
@media (max-width: 767px) {
  .flex_container {
    width: 375px;
  }
  .corner {
    top: 10px;
    right: 10px;
  }
  .corner2 {
    left: 10px;
    bottom: 10px;
  }
  header {
    height: 668px;
  }
  .header_container {
    max-width: 375px;
    padding: 10px;
  }
  .why {
    height: 1014px;
  }
  .why_container {
    max-width: 375px;
    padding: 40px 10px 25px 10px;
    flex-direction: row;
  }
  .cause {
    height: 1169px;
  }
  .cause_container {
    max-width: 375px;
    padding: 25px 10px 25px 10px;
  }
  .how {
    height: 1787px;
  }
  .how_container {
    flex-direction: row;
    max-width: 375px;
    padding: 25px 10px 25px 10px;
  }
  .gallery {
    width: 100%;
    height: 100%;
  }
  .gallery_container {
    max-width: 375px;
    padding: 25px 10px 40px 10px;
  }
  footer {
    height: 984px;
  }
  .footer_container {
    max-width: 375px;
    padding: 25px 10px 10px 10px;
  }
  .title-cause {
    width: var(--width-mobile);
    height: 47px;
  }
  .title-cause > h2 {
    width: var(--width-mobile);
  }
  .navigation_container {
    height: 228px;
  }
  .bulb {
    gap: 10px;
  }
  .title-focus {
    margin-bottom: 55px;
    width: var(--width-mobile);
    height: 192px;
    left: 0px;
  }
  .title-focus > h1 {
  font-size: 116px;
  line-height: 82.5%;
  }
  .title-text {
    width: var(--width-mobile);
  }
  .block-row-container {
    width: var(--width-mobile);
  }
  .gallery-container-img {
    grid-template-areas:
    'img__item1'
    'img__item2'
    'img__item3'
    'img__item4'
    'img__item5';
    gap: 10px;
  }
  .img_item1 {
    width: var(--width-mobile);
    height: 142px;
  }
  .img_item2 {
    width: var(--width-mobile);
    height: 355px;
  }
  .img_item3 {
    width: var(--width-mobile);
    height: 237px;
  }
  .img_item4 {
    width: var(--width-mobile);
    height: 355px;
  }
  .img_item5 {
    width: var(--width-mobile);
    height: 237px;
  }
}