:root {
    --background-color: #000028;
    --background-color-title: #FF0070;
    --text-color-h1: #DB00FF;
    --text-color-h2: #FF0070;
    --text-color-h3: #000028;
    --text-color-p: #F1B2CE;
  
  }
  
@font-face {
    font-weight: 700;
    font-family: IBMPlexMono;
    src: url("../fonts/IBMPlexMono-Bold.ttf");
}
@font-face {
    font-weight: 400;
    font-family: IBMPlexMono;
    src: url("../fonts/IBMPlexMono-Regular.ttf");
}
html {
    margin: 0;
    padding: 0;
  } 
  body {
    font-family: IBMPlexMono;
    font-weight: 400;
    font-size: 18px;
    
    line-height: 1.3em;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 768px;
    background-image: url("../img/cover-image-dark.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header_container {
    width: 1024px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .why {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 608px;
    box-sizing: border-box;
    background-color: var(--background-color);
    
  }
  .why_container {
    max-width: 1024px;
    height: 608px;
    padding: 60px 20px 40px 20px;
    box-sizing: border-box;
  }

  .cause {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 578px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--background-color);
  }
  .cause_container {
    max-width: 1024px;
    height: 100%;
    padding: 40px 20px 40px 20px;
    box-sizing: border-box;
  }

  .how {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1095px;
    box-sizing: border-box;
    background-color: var(--background-color);
  }
  .how_container {
    max-width: 1024px;
    height: 100%;
    padding: 40px 20px 40px 20px;
    box-sizing: border-box;
  }

  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1191px;
    box-sizing: border-box;
    background-color: var(--background-color);
    
  }
  .gallery_container {
    max-width: 1024px;
    height: 100%;
    padding: 40px 20px 40px 20px;
    box-sizing: border-box;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 768px;
    box-sizing: border-box;
    background-color: var(--background-color);
  }
  .footer_container {
    height: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
  }
  h1 {
    font-weight: 700;
    font-size: 157px;
    line-height: 0.5em;
    text-shadow: 4px 4px #FF0070;
    color: var(--text-color-h1);
    margin: 0;
    padding: 0;
  }
  h2 {
    font-weight: 700;
    font-size: 18px;
    color: var(--text-color-h2);
    margin: 0;
    padding: 0;
  }
  h3 {
    font-weight: 700;
    font-size: 18px;
    color: var(--text-color-h3);
    background-color: var(--background-color-title);
    margin: 0;
  }
  p {
    margin: 0;
    padding: 0;
    color: var(--text-color-p);
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px; /* 130% */
  }
  .h3 {
    padding-bottom: 10px;
  }
  .active_link {
    box-sizing: border-box;
    border: 1px solid #FF0070;

  }
  
  .navigation_container {
    display: flex;
    justify-content: space-between;
  }
  .navigation-container-link {
    display: flex;
    gap: 10px;
  }
  .navigation-link {
    display: inline-flex;
    height: 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .navigation-link > a {
    color: var(--text-color-h2);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 0 13px; 
  }
  .zero {
    width: 52px;
  }
  .bulb {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .bulb > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #FF0070;
  }
  .bulb-ellips{
    display: block;
    height: 9px;
    width: 9px;
    background-color: var(--background-color-title);
    filter: drop-shadow(0px 0px 4px #FF0070);
    border-radius: 50%;
  }
  .title-focus {
    display: block;
    margin-top: 273px;
    margin-bottom: 114px;
    width: 759px;
    height: 130px;
  
  } 
  .title-text {
    width: 491px;
    margin-left: auto;
    justify-content: end;
    display: block;
    background-color: var(--text-color-h2);
  }
  .title-text > p {
    color: var(--text-color-h3);
  }
  
  
  
  .why_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .titile-block {
    display: flex;
    width: 34%;
    flex: 1;
    align-self: stretch;
  }
  .block-row-container {
    width: 66%;
    flex: 1;
  }
  .block-row {
    margin-bottom: 20px;
  }
  .block-row:last-child {
    margin-bottom: 0px;
  }
  .block-row > .h3 > h3 {
    color: var(--text-color-h3);
  }
  
  
  
  .cause_container {
    width: 100%;
    height: 100%;
  }
  .title-cause {
    display: inline-block;
    max-width: 32%;
    margin-bottom: 20px;
  }
  
  .block-column-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
  .block-column {
    width: 32%;
  }
  
  
  
  .how_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .how > .how_container > .block-row-container > .block-row > .h3 > h3 {
    color: var(--text-color-p);
  }
  .adviÑe {
    margin-bottom: 20px;
  } 
  
  
  .gallery_container {
    width: 100%;
    height: 100%;
  }
  .gallery-container-img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  .gallery-container-img > img:nth-child(1) {
    order: 1;
    width: 649px;
    height: 260px;
  }
  .gallery-container-img > img:nth-child(2) {
    order: 5;
    width: 649px;
    height: 428px;
  }
  .gallery-container-img > img:nth-child(3) {
    order: 3;
    width: 315px;
    height: 768px;
  }
  .gallery-container-img > img:nth-child(4) {
    order: 4;
    width: 315px;
    height: 315px;
  }
  .gallery-container-img > img:nth-child(5) {
    order: 2;
    width: 315px;
    height: 595px;
  }
  
  
  
  
  
  
  .title-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .title_container > .title-focus {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
  
  }
  