:root {
  --width-mobile: 355px;
  --img-width-hight: 315px;
  --width-mobile-container: 375px; 
}
@font-face {
    font-weight: 700;
    font-family: IBMPlexMono;
    src: url("../fonts/IBMPlexMono-Bold.ttf");
}
@font-face {
    font-weight: 400;
    font-family: IBMPlexMono;
    src: url("../fonts/IBMPlexMono-Regular.ttf");
}
.white-theme {
  --background-color-title: #FF8DCB;
  --text-color-title-focus: #ffc2e6;
  --text-color-title-block: #353430;
  --color-link: #353430;
  --color-link-text: #353430;
  --text-color-title-type-3: #353430;
  --text-color-paragraf: #343530;
  --background-color: #fff1f7;
  --background-image: url("../img/cover-image-light.png");
  --opacity_blub: 0;
}
.black-theme {
  --background-color-title: #FF0070;
  --text-color-title-focus: #DB00FF;
  --text-color-title-block: #FF0070;
  --color-link: #FF0070;
  --color-link-text: #f1b2ce;
  --text-color-title-type-3: #000028;
  --text-color-paragraf: #F1B2CE;
  --background-color: #000028;
  --background-image: url("../img/cover-image-dark.svg");
  --opacity_blub: 1;
  
}
html {
  margin: 0;
  padding: 0;
} 
body {
  font-family: IBMPlexMono, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
button {
  cursor: pointer; 
  text-decoration: none;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.section_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.flex_container {
  width: 1024px;
  height: 100%;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 768px;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_container {
  padding: 20px;
  position: relative;
}
.why {
  height: 608px;
}
.why_container {
  max-width: 1024px;
  padding: 60px 20px 40px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cause {
  height: 578px;
}
.cause_container {
  max-width: 1024px;
  padding: 40px 20px 40px 20px;
}
.how {
  height: 1095px;
}
.how_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px 20px 40px 20px;
}
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1191px;
  box-sizing: border-box;
}
.gallery_container {
  padding: 40px 20px 60px 20px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 768px;
  box-sizing: border-box;
}
.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
} 
ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 700;
  font-size: 157px;
  line-height: 0.5em;
  text-shadow: 4px 4px #FF0070;
  color: var(--text-color-title-focus);
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color-title-block);
  margin: 0;
  padding: 0;
}
h3 {
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color-title-type-3);
  background-color: var(--background-color-title);
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
  color: var(--text-color-paragraf);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}
.text > a {
  text-decoration: none;
  color: var(--color-link-text);
  text-shadow: 2px 2px #FF0070;
}
.text > a:hover {
  border-bottom: 1px solid var(--color-link-text);
}
.text > a:focus {
  border: 1px solif var(--color-link-text);
}




.title-type-3 {
  margin-bottom: 10px;
}
.corner_main {
  width: 25px;
  height: 25px;
}
.corner {
  position: absolute;
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--color-link);
  border-right: 1px solid var(--color-link);
}
.corner2 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-bottom: 1px solid var(--color-link);
  border-left: 1px solid var(--color-link);
}
.navigation_container {
  display: flex;
  height: 28px;
  justify-content: space-between;
}
.navigation-container-link {
  display: flex;
  gap: 10px;
}
.navigation-link {
  display: inline-flex;
  box-sizing: border-box;
  width: 70px;
  height: 26px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.navigation-link:focus {
  border-bottom: 1px solid var(--color-link);
}
.navigation-link:hover {
  border: 1px solid var(--color-link);
  opacity: 0.5;
}
.navigation-link > button {
  color: var(--color-link);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  padding: 0 13px; 
}
.zero {
  width: 62px;
  height: 25px;
}
.bulb {
  opacity: var(--opacity_blub);
  display: flex;
  align-items: center;
  gap: 10px;
}
.bulb > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-link);
}
.bulb-ellips{
  display: block;
  height: 9px;
  width: 9px;
  background-color: var(--color-link);
  filter: drop-shadow(0px 0px 4px var(--color-link));
  border-radius: 50%;
  margin-right: 10px;
}
.title-focus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 273px;
  margin-bottom: 114px;
  width: 759px;
  height: 130px;
  position: relative;
  left: -20px;
} 
.title-text {
  font-weight: 700;
  width: 491px;
  margin-left: auto;
  justify-content: end;
  display: block;
  background-color: var(--background-color-title);
  color: var(--text-color-title-type-3);
}
.title-block {
  display: flex;
  width: 34%;
  flex: 1;
  align-self: stretch;
}
.block-row-container {
  width: 66%;
  flex: 1;
}
.block-row {
  margin-bottom: 20px;
}
.block-row:last-child {
  margin-bottom: 0;
}
.block-row > .title-type-3 {
  color: var(--text-color-title-type-3);
}
.title-cause {
  display: inline-block;
  max-width: 32%;
  margin-bottom: 20px;
}
.block-column-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.block-column {
  width: 32%;
}
.how > .how_container > .block-row-container > .block-row > .title-type-3 {
  font-weight: 400;
}
.adviÑe {
  padding: 0;
  margin-bottom: 20px;
} 
.gallery_container > .title-type-3 {
  margin-bottom: 20px;
}
.gallery-container-img {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
  'img__item1 img__item1 img__item2'
  'img__item4 img__item3 img__item2'
  'img__item4 img__item5 img__item5'
  'img__item4 img__item5 img__item5';
  gap: 20px;
}
.img_item1 {
  width: 649px;
  height: 260px;
  grid-area: img__item1;
}
.img_item2 {
  width: var(--img-width-hight);
  height: 595px;
  grid-area: img__item2;
}
.img_item3 {
  width: var(--img-width-hight);
  height: var(--img-width-hight);
  grid-area: img__item3;
}
.img_item4 {
  width: var(--img-width-hight);
  height: 768px;
  grid-area: img__item4;
}
.img_item5 {
  width: 649px;
  height: 428px;
  grid-area: img__item5;
}
.title-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.title_container > .title-focus {
  width: 1024px;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  left: 0px;

}

@media (max-width: 1023px) {
  .flex_container {
    width: 768px;
  }
  header {
    height: 984px;
  }
  .why {
    height: 748px;
  }
  .why_container {
    gap: 20px;
    max-width: 768px;
  }
  .cause {
    height: 755px;
  }
  .cause_container {
    max-width: 768px;
  }
  .how {
    height: 1377px;
  }
  .how_container {
    gap: 20px;
    max-width: 768px;
  }
  .gallery {
    width: 100%;
    height: 922px;
  }
  .gallery_container {
    max-width: 768px;
  }
  footer {
    height: 984px;
  }
  .footer_container {
    max-width: 768px;
  }
  .title-cause {
    display: inline-block;
    width: 236px;
    height: 70px;
    margin-bottom: 20px;
  }
  .block-column {
    width: 100%;
  }
  .navigation_container {
    flex-direction: column-reverse;
    align-items: end;
    height: 443px;
  }
  .navigation-container-link {
    flex-direction: column;
  }
  .navigation-link {
    display: inline-flex;
    height: 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .title-focus {
    margin: 0;
    margin-bottom: 162px;
    height: 99px;
    width: 576.84px;
  }
  .title-focus {
    font-size: 120px;
  }
  .title-text {
    width: 364px;
  }
  .title-block {
    width: 236px;
  }
  .block-row-container {
    width: 472px;
  }
  .img_item1 {
    width: 479px;
    height: 192px;
  }
  .img_item2 {
    width: 229px;
    height: 441px;
  }
  .img_item3 {
    width: 230px;
    height: 230px;
  }
  .img_item4 {
    width: 229px;
    height: 568px;
  }
  .img_item5 {
    width: 479px;
    height: 318px;
  }
}
@media (max-width: 767px) {
  .padding-block {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .flex_container {
    width: var(--width-mobile-container);
    padding: 0 10px;
  }
  .corner {
    top: 10px;
    right: 10px;
  }
  .corner2 {
    left: 10px;
    bottom: 10px;
  }
  header {
    height: 668px;
  }
  .header_container {
    max-width: var(--width-mobile-container);
    padding: 10px;
  }
  .why {
    height: 1014px;
  }
  .why_container {
    max-width: var(--width-mobile-container);
    padding-top: 40px;
    padding-bottom: 25px;
    flex-direction: row;
  }
  .cause {
    height: 1169px;
  }
  .cause_container {
    max-width: var(--width-mobile-container);
  }
  .how {
    height: 1787px;
  }
  .how_container {
    flex-direction: row;
    max-width: var(--width-mobile-container);
  }
  .gallery {
    width: 100%;
    height: 100%;
  }
  .gallery_container {
    max-width: var(--width-mobile-container);
    padding: 25px 10px 40px 10px;
  }
  footer {
    height: 984px;
  }
  .footer_container {
    max-width: var(--width-mobile-container);
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .title-cause  {
    width: var(--width-mobile);
    height: 47px;
    width: var(--width-mobile);
  }
  .navigation_container {
    height: 228px;
  }
  .bulb {
    gap: 10px;
  }
  .title-focus {
    margin-bottom: 55px;
    width: var(--width-mobile);
    height: 192px;
    left: 0;
  }
  .title-focus {
    font-size: 116px;
    line-height: 82.5%;
  }
  .title-text {
    width: var(--width-mobile);
  }
  .block-row-container {
    width: var(--width-mobile);
  }
  .gallery-container-img {
    grid-template-areas:
    'img__item1'
    'img__item2'
    'img__item3'
    'img__item4'
    'img__item5';
    gap: 10px;
  }
  .img_item1 {
    width: var(--width-mobile);
    height: 142px;
  }
  .img_item2 {
    width: var(--width-mobile);
    height: 355px;
  }
  .img_item3 {
    width: var(--width-mobile);
    height: 237px;
  }
  .img_item4 {
    width: var(--width-mobile);
    height: 355px;
  }
  .img_item5 {
    width: var(--width-mobile);
    height: 237px;
  }
}